In [1]:
# ! pip install --user dtale

In [2]:
# !pip install --upgrade pandas
import pandas as pd
import numpy as np
import dtale

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.4)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

## Walmart Sales Dataset
data source: https://www.kaggle.com/datasets/varsharam/walmart-sales-dataset-of-45stores

Walmart Sales Dataset has information about the Weekly Sales of 45 stores for the year 2010-2012, 
including the factors affectors affecting Sales such as Holidays, Temperature, Fuel Price, CPI, and Unemployment.

Variable descriptions:
1. Store: Store Numbers ranging from 1 to 45
2. Date: The Week of Sales. It is in the format of dd-mm-yyyy, starting from 05-02-2010
3. Weekly_Sales: The sales of the given store in the given week
4. Holiday_Flag: If the week has a special Holiday or not. 1: The week has a Holiday 0: Fully working week
5. Temperature: Average Temperature of the week of sales
6. Fuel_Price: Price of the Fuel in the region of the given store
7. CPI: Customer Price Index, viewd as an indicator of inflation, measuring the percentage change in the price of a basket of goods and services consumed by households
8. Unemployment: Unemployment of the given store region

In [3]:
w = pd.DataFrame(pd.read_csv('C:/Users/Yvonne/Desktop/UMN Courses/6311/trendmarketplace/walmart-sales-dataset-of-45stores.csv'))
w.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [4]:
dtale.show(w)

## Youtube Statistics
data source: https://www.kaggle.com/datasets/advaypatil/youtube-statistics

Contains 2 files(comments, videos-stats)for analyzing the relationship between the popularity of a certain video
and the most relevant/liked comments of said video.

Before the analysis, we combined the 2 datasets by Video ID.

Variable descriptions:
1. Title: Video Title
2. Video ID: The Video Identifier
3. Published At: The date the video was published in YYYY-MM-DD
4. Keyword: The keyword associated with the video
5. Likes.for.video: The number of likes the video received. If this value is -1, the likes are not publicly visible
6. Comments: The number of comments the video has. If this value is -1, the video creator has disabled comments
7. Video.views: The number of views the video got
8. Comment: Partial comment texts
9. Likes.for.comment: The number of likes the comment received
10. Sentiment: The sentiment of the comment. 0: negative sentiment; 1: neutral; 2: positive

In [5]:
y = pd.DataFrame(pd.read_csv('C:/Users/Yvonne/Desktop/UMN Courses/6311/trendmarketplace/combined_youtube.csv'))
y.head()

,Title,Video.ID,Published.At,Keyword,Likes.for.video,Comments,Video.views,Comment,Likes.for.comment,Sentiment
0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022/8/23,tech,3407,672.0,135612.0,Let's not forget that Apple Pay in 2014 requir...,95,1
1,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022/8/23,tech,3407,672.0,135612.0,Here in NZ 50% of retailers don?�t even have c...,19,0
2,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022/8/23,tech,3407,672.0,135612.0,I will forever acknowledge this channel with t...,161,2
3,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022/8/23,tech,3407,672.0,135612.0,Whenever I go to a place that doesn?�t take Ap...,8,0
4,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022/8/23,tech,3407,672.0,135612.0,"Apple Pay is so convenient, secure, and easy t...",34,2

In [6]:
dtale.show(y)